node_modules
vendor
storage/*.key
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.git
.gitignore
.env
.env.*
Dockerfile.*
docker-compose.yml
docker-compose*.yml
tests
*.log
*.md
public/hot
public/build/*.map

